.resale_about_sec {
  padding: 100px 0;
}
.resale_about_container {
  width: 98%;
  margin: 0 auto;
}
.introducing_team_info h2 {
  font-size: 48px;
  font-weight: 600;
  color: #214167;
  margin-bottom: 20px;
}
.introducing_team_info span {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  display: inline-block;
}
.introducing_team_info p {
  line-height: 28px;
  font-weight: 500;
}

.about_img img {
  width: 100%;
  border: 8px solid gray;
  padding: 6px;
  border-radius: 10px;
}

/* ----------------------media query---------------- */

/* ------------mobile device ---------------- */
@media only screen and (max-width: 600px) {
  .resale_about_sec {
    padding: 20px 0;
  }
  .introducingTeam_wrapper {
    flex-direction: column-reverse;
  }
  .introducing_team_info h2 {
    font-size: 28px;
    line-height: 15px;
  }
}
