.footerArea {
  width: 100%;
  height: auto;
  color: #9a0404;
  margin-top: 3px;
}

.topFooter {
  padding-top: 40px;
}

.topFooter .col-md-10 {
  margin-top: 15px;
}

.footerLink {
  margin-top: 15px;
}

.footerLink ul {
  padding: 0px;
}

.footerLink li {
  padding-top: 7px;
  list-style: none;
}

.socialIcon .icon {
  margin: 5px 8px;
  transition: 0.8s;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #055481;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
  cursor: pointer;
  padding: 5px;
  border: 2px solid#055481;
}

.socialIcon .icon:hover {
  color: #fff;
  background-color: cornflowerblue;
  border: 2px solid cornflowerblue;
  border-radius: 50%;
}

.botomFooter {
  text-align: center;
  padding: 10px 0px;
  margin-top: 20px;
  border-top: 2px solid #fff;
}
