.header {
  margin-bottom: 3px;
  background: #bbe0f3;
  color: hwb(0 7% 36%);
  padding: 5px 0;
}
.navbar {
  width: 85%;
  margin: 0 auto;
}
.web-title-1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: #4a0505;
  margin-top: 5px;
}
.navbar_nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  color: hwb(0 7% 36%);
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 96%;
  }
  .web-title-1 {
    font-size: 19px;
  }
  .navbar a {
    padding: 0.3rem 0;
    width: 100px;
  }
  .navbar a:hover {
    text-align: center;
  }
  .logOut_btn {
    width: 95px;
  }
}
