.header {
  margin-bottom: 3px;
}
.navbar {
  width: 98%;
  margin: 0 auto;
}
.web-title-1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  color: #417139;
  font-weight: bold;
  margin-top: 5px;
}
.web-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 45px;
  color: #e62f34;
  font-weight: bold;
  margin-top: 5px;
}
.navbar_nav a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  color: #9a0404;
}
.navbar_nav a:hover {
  color: white;
  background-color: #9a0404;
}
@media only screen and (max-width: 600px) {
  .navbar {
    width: 96%;
  }
  .web-title {
    font-family: "Courgette", cursive;
    font-size: 25px;
  }
  .navbar a {
    padding: 0.3rem 0;
    width: 100px;
  }
  .navbar a:hover {
    text-align: center;
  }
  .logOut_btn {
    width: 95px;
  }
}
